* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: gameFont;
    src: url('/styles/assets/gameFont.ttf');
  }


  body {
      background-color: #f5f5f5;
  }

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: gameFont;
    font-size: 3em;
    color: black;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
}

h1:hover {
    transform: scale(1.1);
}




@keyframes colorChange {
    0% {
        color:rgb(65, 139, 65);
    }
    
    25% {
        color:rgb(182, 226, 236) ;

    }

    50% {
        color: rgb(69, 69, 175);
    }

    75% {
        color: rgb(255, 204, 225);

    }

    100% {
        color:rgb(167, 77, 77);
    }
}





#container {
    display:flex;
    position: relative;
    top: 6em;
    justify-content: center;
    align-items: center;
    
    
}

 .cell { 
    border:  0.0625px solid black;
    min-width: 1.5em;
    min-height: 1.5em;
    
    
        
}



.black { 
    color: black;
}
