* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: gameFont;
    src: url('/styles/assets/gameFont.ttf');
  }


  body {
      background-color: #f5f5f5;
  }

h1 {
    text-align: center;
    font-family: gameFont;
    font-size: 3em;
    color: black;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
   
}

.buttons { 
    display:flex;
    justify-content: space-evenly;
    
}


button {
    position: relative;
    top:2em;
    padding: .3em;
}








@keyframes colorChange {
    0% {
        color:rgb(65, 139, 65);
    }
    
    25% {
        color:rgb(182, 226, 236) ;

    }

    50% {
        color: rgb(69, 69, 175);
    }

    75% {
        color: rgb(255, 204, 225);

    }

    100% {
        color:rgb(167, 77, 77);
    }
}



#container {
    display:flex;
    position: relative;
    top: 6em;
    justify-content: center;
    align-items: center;
    
}

#footerdiv {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    text-align:center;
    background-color:#D4D4D4;
    color:white;
    overflow:hidden;

  }


  #content-wrap {
    padding-top: 8em;
  }


  #footer {
    color:black;
    position: relative;
    top: .5em;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     
        
  }

  #githubHover {   
    animation-name: githubHover;
    animation-duration: 10s;
    animation-iteration-count: infinite;

  }

  @keyframes githubHover {
    0% {
        color:rgb(65, 139, 65);
    }
    
    25% {
        color:rgb(171,132,87)
    }

    50% {
        color: rgb(69, 69, 175);
    }

    75% {
        color: rgb(244,117,75)

    }

    100% {
        color:rgb(167, 77, 77);
    }
}






 .cell { 
    border:  0.0625px solid black;
    min-width: 1.5em;
    min-height: 1.5em;
        
}




